.ae-body{
  width: 100vw;
  height: 100vh;
  padding: 5%;
  background-color: #CDD1DB;
  background-size: cover;
  position: fixed; 
  overflow-y: scroll;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ae-form-container{
  width: 60vw;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 15px #59595985;
}

.e-form-container{
  width: 60vw;
  padding: 2%;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 15px #59595985;
  display:flex;
}



.ae-link{
  text-decoration: none;
  color: rgb(21, 129, 148);
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  padding: 0 0 0 1%;
}

.ae-link:hover{
  color: rgb(227, 180, 94);
}

.e-form-left{
  width: 100%;
  min-width:40vw;
}

.e-form-right{
  align-self: flex-end;
  text-align: right;
  width: 100%;
  max-width: 30vw;
}

.form-right{
  width: 100%;
}

.cp-delete-button{
  align-self: right;
}