.d-font{
  font-family: 'Inconsolata', monospace;
}
.d-title{
  font-family: 'Oswald', sans-serif;
}

.dashboard-body{
  width: 100vw;
  height: 100vh;
  padding: 5%;
  background-color: #CDD1DB;
  background-size: cover;
  position: fixed; 
  overflow-y: scroll;
  top: 0; right: 0; bottom: 0; left: 0; 
}


.dash-header{
  background-color: rgba(255, 255, 255, 0.53);
  margin: 0 0 5% 0;
  padding: 1%;
  text-align: center;
  border-radius: 1px;
}

.dash-options{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dash-card{
  background-color: rgba(254, 254, 254, 0.95);
  width: 42vw;
  height: 35vh;
  margin: 0%;
  padding: 5%;
  border-radius: 2px;
  box-shadow: 5px 5px 15px #59595985;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 0% 5% 0;
}

.link{
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 1.75rem;
}

.link:hover{
  color: rgb(83, 140, 109);
}

.dash-url{
  width: 50%;
}

.dash-one{
  width: 50%;
}

.dash-home{
  width: 45%;
}

a.attribution{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.502);
}

div.attribution{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.502);
}