* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul.home-List {
  /* if you want the standard bullets, use 'disc' instead of 'circle' */
  list-style: circle; 
  list-style-position: inside !important;
}