* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#container {
  min-height:100vh;
}

.top {
  height: 50vh;
  background-color: rgb(154, 216, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom{
  height: 50vh;
  background-color: rgb(255, 245, 136);
}