#container {
  min-height:100vh;
}

.top {
  height: 50vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom{
  height: 50vh;
  background-color: white;
  display: flex;
  
}

/* Sample Display */
.os-sample{
  width: 15vw;
}


/* Comparison Display */

.comparison-container{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.left{
  width: 15vw;
}
.center{
  width: 15vw;
}
.right{
  width: 15vw;
}