#container-sp {
  max-height:100vh;
}

.top-sp {
  height: 44vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-sp{
  height: 44vh;
  background-color: white;
  display: flex;
  
}

/* Sample Display */
.os-sample{
  width: 15vw;
}


/* Comparison Display */

.comparison-container-sp{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.na{
  width: 15vw;
}
